:host {

    * {
        margin: 8px 0;
    }

    .container {
        display: flex;
        justify-content: space-between;
        gap: 12px;

        .results-container {
            display: flex;
            gap: 4px;

            .result {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }
        }

        img {
            width: 116px;
        }
    }
}